<div class="homepage">

  <% if current_user.nil? %>

    <div class="anonymous-user-bar">
      <nav class="navbar navbar-default">
        <ul>
          <li><%= link_to 'Sign up (new user)', new_user_registration_path, :class => "btn btn-outline-dark" %></li>
          <li><%= link_to 'Sign in', new_user_session_path, :class => "btn btn-outline-dark" %></li>
          <li><%= link_to 'Forgot your password?', new_user_password_path, :class => "btn btn-outline-dark" %></li>
        </ul>
      </nav>
      <div class="homepage-h1">
        <h1>Homepage</h1>
      </div>
      <h6><%= link_to 'Sign up (new user)', new_user_registration_path, :class => "btn btn-outline-dark" %></h6>
      <h6><%= link_to 'Sign in', new_user_session_path, :class => "btn btn-outline-dark" %></h6>
      <h6><%= link_to 'Forgot your password?', new_user_password_path, :class => "btn btn-outline-dark" %></h6>

    </div>

  <% else %>
    <div class="homepage-signed-up">
      <nav class="navbar navbar-default">
        <ul>
          <li><%= link_to 'Settings', settings_path, :class => "btn btn btn-outline-dark btn-md" %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "btn btn btn-outline-dark btn-md" %></li>
          <li><%= link_to 'Edit account', edit_user_registration_path, :class => "btn btn btn-outline-dark btn-md" %></li>
          <li><%= link_to 'Delete account', edit_user_registration_path, :class => "btn btn btn-outline-dark btn-md" %></li>
          <li><%= link_to 'Change your password', edit_user_password_path, :class => "btn btn btn-outline-dark btn-md" %></li>
        </ul>
      </nav>
      <div class="homepage-h1">
        <h1>Homepage</h1>
      </div>
      <h6><%= link_to 'Tasks', tasks_path, :class => "btn btn btn-outline-dark btn-md" %></h6>
      <!--<h6><%#= link_to 'Settings',  controller: 'settings'%></h6>-->
      <h6><%= link_to 'Categories', settings_categories_path, :class => "btn btn btn-outline-dark btn-md" %></h6>
      <h6><%= link_to 'Tags', settings_tags_path, :class => "btn btn btn-outline-dark btn-md" %></h6>
      <%#= link_to "Destroy", user, method: :delete, data: { confirm: "You sure?" } %>
    </div>
  <% end %>

</div>